@import '../../styles/toolbox.scss';


.container {
    width: 100%;
    height: 100vh;
    @include flex(column);
}


.wrapper {
    position: relative;
    padding: 1em;
    border: 1px solid pink;
    background-color: white;
    text-align: center;
}


.wrapperBg {
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    background-color: $color-pink;
}

.heading {
    margin-bottom: 0;
}
